<h1>Seja Bem-Vindo</h1>
<p>O idioma do sistema é: <strong><%= locale(I18n.locale) %></strong></p>
<p> Sistema <strong><%= nome_aplicacao %></strong> </p>
<p><strong>Data - </strong> <%= Date.today %></p>

<%= render  "menu" %>

<p>
  Identificando o ambiente Rails <strong> <%= ambiente_rails %> </strong> 
</p>

<p>Nome do Curso: <%= @nome_curso %></p>