<h1>Seja Bem-Vindo</h1>
<p>O idioma do sistema é: <strong><%= locale %></strong></p>
<p><strong>Data - </strong> <%= l(Date.today) %></p>
<p><%= I18n.t('hello') %></p>

<%= render  "menu" %>

<p>
  Identificando o ambiente Rails <strong> <%= ambiente_rails %> </strong> 
</p>

<p>Nome do Curso: <%= @nome_curso %></p>